<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="adv.vadym.com.santex">

    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
            android:name=".AndroidApplication"
            android:allowBackup="true"
            android:icon="@mipmap/santehnica"
            android:label="@string/app_name"
            android:supportsRtl="false"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".view.impl.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".view.impl.PriceActivity"/>
        <activity android:name=".view.impl.FeedbackActivity"/>
        <activity android:name=".view.impl.ContactsActivity"/>
    </application>

</manifest>